body {
    font-family: Roboto, sans, sans-serif;
}

.container {
    margin-bottom: 30px;
}

.card {
    margin: 5px;
}

.card-buttons {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.card-title {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
}